{% extends 'base.html.twig' %}

{% block titlepage %}Omra{% endblock %}

{% block content %}
<div class="content">
  
              
           
   <div class="card-header header-elements-inline" style="background-color: #007682b5;" style="padding-bottom:100px">
  
						<h3 class="card-title" style="color:white">Details du Voyage Organiser : {{voyage_organiser.titre}}</h3>
                        <div class="header-elements"  >
							 <a class="btn btn-dark" style="width:210px" href="{{ path('app_voyage_organiser_index') }}"><i class="icon-reply"></i> Liste des Voyage Organiser</a>
	                	</div>

                           </div><br>
                           
                           <div class="card">
						
							<div class="card-body">
    <table class="table datatable-basic dataTable no-footer" id="DataTables_Table_0"  ="grid" aria-describedby="DataTables_Table_0_info">
  
        <tbody>
           
            <tr>
                <th>Title</th>
                <td>{{ voyage_organiser.titre }}</td>
            </tr>
            
           
            <tr>
                <th>Inclus</th>
                <td>{{ voyage_organiser.inclus }}</td>
            </tr>
            <tr>
                <th>Non Inclus</th>
                <td>{{ voyage_organiser.NonInclus }}</td>
            </tr>
             <tr>
                <th>Description</th>
                <td>{{ voyage_organiser.description }}</td>
            </tr>
       
                            <tr>
                                   <th>Images</th>
                                  
                                   <td>
                            {% if app.request.attributes.get('_route') == 'app_voyage_organiser_show' %}
  
      
        
   {% for image in voyage_organiser.images %}
            <div>
           
                <img src="{{ asset('/uploads/'~image.name) }}" alt="" width="90" height="90">

                {# On ajoute un lien permettant de supprimer une image (sera géré en Ajax) #}
                
            </div>
           
        {% endfor %}
      </td>
        {%endif%}
        </tr>
        </tbody>
    </table>
        </div>
        </div>
        </div>
     
 <div class="content">
  
              
           
   <div class="card-header header-elements-inline" style="background-color: #007682b5;" style="padding-bottom:100px">
  
						<h3 class="card-title" style="color:white"> Liste des GrilleTarifaires </h3>
                        <div class="header-elements"  >
							 <a class="btn btn-dark" style="width:180px" href="{{ path('app_tarifaire_new') }}"><i class="icon-user-plus"></i> Ajouter GrilleTarifaire</a>
	                	</div>
                           </div>
                           
                           <div class="card">
						
							<div class="card-body">
    <table class="table datatable-basic dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
        <thead>
            <tr>
                <th>Id</th>
              
                <th>Date Debut</th>
                <th>Date Fin</th>
                <th>Type Chambre</th>
                <th>Hotel</th>
                 <th>Offre</th>
                <th>prix</th>
                <th colspan="3"><center>actions</center></th>
            </tr>
        </thead>
        <tbody>
        {% for grille_tarifaire in grille_tarifaires %}
            <tr>
                <td>{{ grille_tarifaire.id }}</td>
               
                <td>{{ grille_tarifaire.dateDebut ? grille_tarifaire.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ grille_tarifaire.dateFin ? grille_tarifaire.dateFin|date('Y-m-d') : '' }}</td>
                <td>{{ grille_tarifaire.typeChambre }}</td>
                <td>{{ grille_tarifaire.hotel }}</td>
                <td>{% if grille_tarifaire.offre is not null %}{{ grille_tarifaire.offre.titre }}{% endif %}</td>
                <td>{{ grille_tarifaire.prix }}</td>
               <td colspan="3">
                <center>
                   <a class="btn edit btn-info"  href="{{ path('app_tarifaire_show', {'id': grille_tarifaire.id}) }}"style="width:40px"><i class="icon-eye2"></i></a>
                     <a class="btn edit btn-warning"  href="{{ path('app_tarifaire_edit', {'id': grille_tarifaire.id}) }}"style="width:40px"><i class="icon-pencil"></i></a>
                    {{ include('tarifaire/_delete_form.html.twig') }}
                   </center>
            </td>
            </tr>
               
        {% else %}
        
            <tr>
                <td colspan="5">no records found</td>
            </tr>
             
       {% endfor %} 
        </tbody>
         
    </table>
    </div>
    </div>
    </div>
 <div class="content">
  
              
           
   <div class="card-header header-elements-inline" style="background-color: #007682b5;" style="padding-bottom:100px">
  
						<h3 class="card-title" style="color:white">Liste des Excursions</h3>
                        <div class="header-elements"  >
							 <a class="btn btn-dark" style="width:190px" href="{{ path('app_voyage_excursion_new') }}"><i class="icon-user-plus"></i> Ajouter Excursion</a>
	                	</div>
                           </div>
                           
                           <div class="card">
						
							<div class="card-body">
    <table class="table datatable-basic dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
        <thead>
            
            <tr>
               
                <th>Title</th>
        
              
                <th>Pays</th>
                <th>Inclus</th>
                <th>NonInclus</th>
                 <th>Offre</th>
                  <th colspan="2"><center>Images</center></th>
                <th colspan="3"><center>actions</center></th>
            </tr>
        </thead>
        <tbody>
        {% for voyage_excursion in voyage_excursions %}
            <tr>
               
                <td>{{ voyage_excursion.title }}</td>
               
                <td>{{ voyage_excursion.pays }}</td>
                <td>{{ voyage_excursion.inclus }}</td>
                <td>{{ excursvoyage_excursionion.NonInclus }}</td>
                 <td>{% if excursion.title is not null %}{{ excursion.title }}{% endif %}</td>
                <td colspan="2">
                 <center>
                {% for image in excursion.images|slice(0, 1) %}
               <img src="{{ asset('/uploads/'~image.name) }}" alt="" width="150">
                      
        {% endfor %}
             </center></td>
                <td colspan="3">
                <center>
                                  <a class="btn edit btn-info"  href="{{ path('app_excursion_show', {'id': excursion.id}) }}"style="width:40px"><i class="icon-eye2"></i></a>

                     <a class="btn edit btn-warning"  href="{{ path('app_excursion_edit', {'id': excursion.id}) }}"style="width:40px"><i class="icon-pencil"></i></a>
                    {{ include('excursion/_delete_form.html.twig') }}
                   </center>
            </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


  
  
    
   


{% endblock %}