<a class="btn edit btn-info" type="button"  data-toggle="modal" data-target="#exampleModalCenter{{ reservation.id }}" href="{{ path('app_reservation_show', {'id': reservation.id}) }}"style="width:40px"><i class="icon-eye2"></i></a>




<div class="modal fade right" id="exampleModalCenter{{ reservation.id }}"  role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">

  <!-- Add class .modal-full-height and then add class .modal-right (or other classes from list above) to set a position to the modal -->
  <div class="modal-dialog modal-dialog-centered" role="document">

    <div class="modal-content">
       
      <div class="modal-body">
                   <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel"><i class="ti-marker-alt m-r-10" ></i> {{ reservation.id }} </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                   </div>
                   
     
             <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservation.id }}</td>
            </tr>
            <tr>
                <th>DateDebut</th>
                <td>{{ reservation.dateDebut ? reservation.dateDebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateFin</th>
                <td>{{ reservation.dateFin ? reservation.dateFin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ reservation.status }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ reservation.commentaire }}</td>
            </tr>
            <tr>
                <th>DateCreation</th>
                <td>{{ reservation.dateCreation ? reservation.dateCreation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateConfirmation</th>
                <td>{{ reservation.dateConfirmation ? reservation.dateConfirmation|date('Y-m-d') : '' }}</td>
           
            </tr>
        </tbody>
    </table>

      
  </div>
      
    </div>
  </div>
</div>
