{% extends 'base.html.twig' %}
 {% block script %}
	<script src="{{ asset('admin/global_assets/js/plugins/tables/datatables/datatables.min.js') }}"> </script>
	<script src="{{ asset('admin/global_assets/js/demo_pages/datatables_basic.js') }}"> </script>   
{% endblock %}
{% block titlepage %}Croisiere{% endblock %}

{% block content %}
<div class="content">
  
              
           
   <div class="card-header header-elements-inline" style="background-color: #007682b5;" style="padding-bottom:100px">
  
						<h3 class="card-title" style="color:white">Details du Croisiere :{{croisiere.titre}}</h3>
                        <div class="header-elements"  >
							 <a class="btn btn-dark" style="width:150px" href="{{ path('app_croisiere_index') }}"><i class="icon-reply"></i> Liste des Croisiere</a>
	                	</div>

                           </div><br>
                           
                           <div class="card">
						
							<div class="card-body">
    <table class="table datatable-basic dataTable no-footer" id="DataTables_Table_0"  ="grid" aria-describedby="DataTables_Table_0_info">
  
        <tbody>
            
            <tr>
                <th>Id</th>
                <td>{{ croisiere.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ croisiere.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ croisiere.description }}</td>
            </tr>
            
            <tr>
                <th>Cabine</th>
                <td>{{ croisiere.hotel }}</td>
            </tr>
            <tr>
                <th>Inclus</th>
                <td>{{ croisiere.inclus }}</td>
            </tr>
            <tr>
                <th>Non Inclus</th>
                <td>{{ croisiere.NonInclus }}</td>
            </tr>
            <tr>
            <th>Pays</th>
            {%for pays in croisiere.pays %}
<span class="badge badge-pill badge-info">{{ pays.nom}}</span>
{% endfor %}
                  </tr>
         <tr>
                                   <th>Images</th>
                                  
                                   <td>
                            {% if app.request.attributes.get('_route') == 'app_croisiere_show' %}
  
      
        
   {% for image in croisiere.images %}
            <div>
           
                <img src="{{ asset('/uploads/'~image.name) }}" alt="" width="90" height="90">

                {# On ajoute un lien permettant de supprimer une image (sera géré en Ajax) #}
                
            </div>
        {% endfor %}
        </td></tr>
        {%endif%}
        </tbody>
    </table>
        </div>
        </div>
        </div>
        
        <div class="content">
  
              
           
   <div class="card-header header-elements-inline" style="background-color: #007682b5;" style="padding-bottom:100px">
  
						<h3 class="card-title" style="color:white"> Liste des GrilleTarifaires </h3>
                        <div class="header-elements"  >
							 <a class="btn btn-dark" style="width:170px" href="{{ path('app_tarifaire_new') }}"><i class="icon-user-plus"></i> Ajouter GrilleTarifaire</a>
	                	</div>
                           </div>
                           
                           <div class="card">
						
							<div class="card-body">
    <table class="table datatable-basic dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
        <thead>
            <tr>
              
              
                <th>Date Debut</th>
                <th>Date Fin</th>
            
                <th>Cabine</th>
                 <th>Offre</th>
                <th>prix</th>
                <th colspan="2"><center>actions</center></th>
            </tr>
        </thead>
        <tbody>
        {% for grille_tarifaire in grille_tarifaires %}
            <tr>
              
               
                <td>{{ grille_tarifaire.dateDebut ? grille_tarifaire.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ grille_tarifaire.dateFin ? grille_tarifaire.dateFin|date('Y-m-d') : '' }}</td>
        
                <td>{{ grille_tarifaire.hotel }}</td>
                <td>{% if grille_tarifaire.offre is not null %}{{ grille_tarifaire.offre.title }}{% endif %}</td>
                <td>{{ grille_tarifaire.prix }}</td>
               <td colspan="2">
                <center>
                   <a class="btn edit btn-info"  href="{{ path('app_tarifaire_show', {'id': grille_tarifaire.id}) }}"style="width:40px"><i class="icon-eye2"></i></a>
                     <a class="btn edit btn-warning"  href="{{ path('app_tarifaire_edit', {'id': grille_tarifaire.id}) }}"style="width:40px"><i class="icon-pencil"></i></a>
                    {{ include('tarifaire/_delete_form.html.twig') }}
                   </center>
            </td>
            </tr>
               
        {% else %}
        
            <tr>
                <td colspan="5">no records found</td>
            </tr>
             
       {% endfor %} 
        </tbody>
         
    </table>
  
  </div>
    </div>
    </div>
  


     

    
   


{% endblock %}
